
      <div class="main">

         <div class="header_1">
            <div class="navbar"></div>
            <span class="name_chatbot">Цифровой помощник</span>
            <div class="navigation">
               <span class="about">Положение</span>
               <span class="service">О нас</span>               
               <a class="gosuslugi" href="https://www.gosuslugi.ru/">Госуслуги</a>
            </div>
         </div>

         <div class="block_welcome">
            <img src="assets/images/main_photo.png" class="main_photo">
            <div class="welcome">
               <span class="welcome_txt">Цифровой помощник - проект, реализованный  при поддержке сервиса <a href="https://www.gosuslugi.ru/"> “Госуcлуги”</a>. <br><br> Цель проекта - оптимизировать процесс подачи заявления жителями на решение проблем в городе. </span>
               <div class="button_startwork">
                  <div class="background_button_startwork"></div>
                  <a class="text_button_startwork" href="https://web.telegram.org/k/#@GovChat23_bot">Начать работу</a>
               </div>
            </div>            
         </div>

         <div class="line_1"></div>

         <div class="block_stages">
            <span class="header_2">Этапы работы</span>
            <div class="stages">
               <div class="block_stage_1">
                  <div class="stage_1">
                     <div class="background_stage_1"></div>
                     <span class="number_stage_1">1</span>
                  </div>
                  <span class="text_stage_1">Перейти в телеграмм по кнопке “Начать работу”</span>
               </div>
               <div class="block_stage_2">
                  <div class="stage_2">
                     <div class="background_stage_2"></div>
                     <span class="number_stage_2">2</span>
                  </div>
                  <span class="text_stage_2">Выбрать регион проживания и тематику запроса</span>
               </div>
               <div class="block_stage_3">
                  <div class="stage_3">
                     <div class="background_stage_3"></div>
                     <span class="number_stage_3">3</span>
                  </div>
                  <span class="text_stage_3">Описать вашу проблему в форме запроса</span>
               </div>
            </div>            
         </div>

         <div class="line_2"></div>

         <div class="block_messages">
            <span class="name_block_messages">Отправьте нам свой запрос</span>
            <div class="messages">
               <div class="mess_1">
                  <img src="assets/images/icon_bot.png" class="icon_bot_1">
                  <div class="message_1">
                     <div class="background_mess_1"></div>
                     <span class="text_mess_1">Добрый день! Я цифровой помощник сервиса “Госуслуги”. Чем я могу вам помочь?</span>
                  </div>
               </div>
               <div class="mess_2">
                  <div class="message_2">
                     <div class="background_mess_2"></div>
                     <span class="text_mess_2">Добрый день! Мне отказали в приеме к терапевту в городской поликлинике.</span>
                  </div>
                  <img src="assets/images/icon_human.png" class="icon_human">
               </div>
               <div class="mess_3">
                  <img src="assets/images/icon_bot.png" class="icon_bot_2">
                  <div class="message_3">
                     <div class="background_mess_3"></div>
                     <span class="text_mess_3">Сейчас ваша жалоба будет обработана и передана в министерство. Ваша проблема будет решена в течении 5 дней.</span>
                  </div>
               </div>
            </div>                                                 
            <div class="button_send">
               <div class="background_button_send"></div>
               <a class="text_button_send" href="https://web.telegram.org/k/#@GovChat23_bot" >Отправить свое сообщение</a>
            </div>
         </div>

         <div class="line_3"></div>

         <div class="block_gosuslugi">
            <span class="text_block_gosuslugi">Реализовано при поддержке</span>
               <img src="assets/images//logo.png" class="logo_gosuslugi">
         </div>

         <div class="footer">
            <div class="background_footer"></div>
            <img src="assets/images/logo.png" class="footer_logo_gosuslugi">
            <div class="footer_blocks">
               <div class="footer_block_1">
                  <span class="footer_about">О нас</span>
                  <span class="footer_service">Услуги</span>
                  <span class="footer_gosuslugi">Госуслуги</span>
               </div>
               <div class="footer_block_2">
                  <span class="footer_name_chatbot">Цифровой помощник</span>
                  <span class="footer_contacts">Контакты</span>
                  <span class="footer_support">Поддержка</span>
               </div>
            </div>            
         </div>
      </div>
  